#center #coming-soon {
    p {
        font-family: 'Lobster', sans-serif;
        font-size: 40px;
        margin-top: 70px;
        width: 100%;
        height: fit-content;
        text-align: center;
        transform: rotate(10deg)
    }
}