@import '../colors.scss';

@mixin dialog {
	background-color: #F3F3F3;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 1em;
}

#main {
	width: 100vw;
	height: 100vh;
}

#top {
	display: flex;
	margin: 0 1em;

	#name {
		flex: 1;
		display: flex;
		flex-direction: column-reverse;

		input {
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			outline: none;
			font-size: 1.5em;
			padding-left: 1em;
			margin: 0 1em;
			padding-bottom: .5em;
			background-color: transparent;
		}
	}
}

#center {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 1em;
	max-height: calc(100vh - 10em);
	overflow: scroll;
	z-index: 1;
}

#overlay {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;

	> #mod-preview {
		@include dialog;
		width: 40em;
		max-width: 95vw;
		height: 50em;
		max-height: 80vh;
		display: flex;
		flex-direction: column;
	}

	> #confirm {
		@include dialog;
		width: 30em;
		height: 10em;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
	}

	> #disallowed {
		@include dialog;
		width: 30em;
		height: fit-content;
		display: flex;
		flex-direction: column;
	}
}

.buttons {
	padding: 1em 0 .5em 0;
	display: flex;
	flex-direction: row;
	justify-content: center;

	> button {
		margin: 0 1em;
	}

	.cancel {
		@include thin-button;
	}
}