#main-table-container {
	flex: 1;
	position: relative;
}

// override default variables for BaseTable
$table-prefix: AdvanceTable;

$table-font-size: 15px;
$table-padding-left: 15px;
$table-padding-right: 15px;
$column-padding: 7.5px;
$show-frozen-rows-shadow: false;
$show-frozen-columns-shadow: true;

@import '~react-base-table/es/_BaseTable.scss';

.AdvanceTable {
	font-family: 'Manrope', sans-serif;

	.highlight {
		background-color: yellow !important;
	}
	.delete {
		background-color: red !important;
		color: white !important;
	}
}

.AdvanceTable__row:hover, .AdvanceTable__row--hovered {
	background-color: white;
}

.AdvanceTable__row:hover {
	background-color: #f3f3f3;
}

.AdvanceTable__row-cell {
	&:hover {
		background-color: #e3e3e3 !important;
	}
}