#table-container {
	flex: 1;
	position: relative;
	overflow: scroll;

	/* override library style */
	.TableScrollbar {
		position: initial !important;
	}
	.table-fixed-head {
		top: 0 !important;
		left: 0 !important;
	}

	table {
		border-spacing: 0;
		border-collapse: separate;
		min-width: 100%;
		background-color: #FDFDFD;
	}

	th, td {
		padding: 1em 1em;
		box-sizing: border-box;
		margin: 0;
		white-space: pre;
	}

	thead > tr > th {
		background-color: white;
		position: sticky;
		top: 0;
		font-weight: bold;
		text-align: left;
		z-index: 2;
	}

	.item-number {
		width: 1em;
		text-align: center;
		border: none;

		user-select: none;
		width: fit-content;

		> p {
			font-size: .75em;
			opacity: .5;
		}
	}
}