header {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: .1em;
	box-sizing: border-box;
	margin-bottom: 1em;

	> .space {
		flex: 1
	}

	> #service-name {
		font-size: 2em;
		font-weight: 800;
		padding: 0.1em 1em;
		font-family: 'Lobster', sans-serif;
		user-select: none;
	}

	> #back {
		cursor: pointer;
		padding: 1em;
		display: flex;
		align-items: center;

		> i {
			margin: 0 1em 0 1em
		}
	}
}

#account {
	padding: 0;
	width: 4em;
	height: 4em;
	border-radius: 2em;
	border-top-right-radius: 0;
	transition: border-radius .25s;

	&:hover {
		border-radius: .5em;

		> i {
			font-size: 1.35em;
		}
	}

	> i {
		color: white;
		font-size: 1.25em;
		transition: font-size .25s
	}
}