@import '../colors';

#mods {
	width: 20em;
	margin-right: 0.5em;
	padding: 0 0.5em;

	> button {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 0.75em;
		margin-top: 0.5em;
		border-radius: 2em;
		padding: 0.6em 1.5em;
	}

	> h2 {
		font-size: 1.4em;
		font-weight: 600;
	}

	> h3 {
		font-size: 1.1em;
		font-weight: 600;
	}
}

#mod-list {
	max-height: calc(100vh - 12em);
	overflow-y: scroll;
	@include hide-scrollbar;
}

.help-modifier {
	padding: .15em .15em 0.75em;
	background-color: white;
	border-radius: 0.75em;
	margin-bottom: 0.75em;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);

	> p {
		margin-left: .75em;
		margin-right: 2em;
	}
}

.modifier-top {
	display:  flex;

	> h2 {
		flex: 1;
		margin-top: .5em;
		margin-left: .5em;
		margin-bottom: .5em;
	}

	> button {
		width: 1.95em;
		max-width: 2em;
		height: 2em;
		max-height: 2em;
		padding: 0;
		background-color: transparent;
		border: 2px solid $button-color;
		
		> p {
			color: $button-color;
		}
	}
}

.modifier-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.4em;

	> button {
		padding: 0.4em 0.8em;
		margin: 0;
		width: auto;
		margin-top: 0.5em;
		font-size: 0.8em;

		> p > i {
			margin-right: .4em;
		}
	}
}