@import "../colors";

#project-menu {
	display: flex;
	position: relative;
	height: 2.4em;
	background-color: #eee;
	border-radius: 1.2em;
	width: fit-content;

	#project-step-indicator {
		position: absolute;
		height: 2.4em;
		border-radius: 1.2em;
		transition: left .2s, width .2s, background-color .2s;
		z-index: 0;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
	}

	.project-menu-item {
		z-index: 1;
		padding: 0 1.5em;
		display: flex;
		align-items: center;
		cursor: pointer;
		font-weight: 600;
		font-size: 0.85em;
		color: #666;
		user-select: none;
		border-radius: 1.2em;
		transition: color .2s;
		white-space: nowrap;

		&.selected {
			color: white;
		}
	}
}
