@import '../colors.scss';

#welcome {
	width: 40em;
	max-width: 95vw;
	height: 30em;
	max-height: 95vh;
	background-color: #F3F3F3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1em;

	> h1 {
		font-family: 'Lobster', sans-serif;
		margin-bottom: 2em;
	}

	> #welcome-actions {
		margin: 4em 0 3em 0;

		> button {
			width: 15em;
			margin: 0 1em;
		}
	}

	> #signup-suggest {
		font-size: .75em;
		opacity: .9;
		cursor: default;

		> a {
			cursor: pointer;
			font-weight: bold;
			color: $button-color;
		}
	}
}