@import 'colors.scss';

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #F3F3F3;
}

p, h1, h2, h3 {
	font-family: 'Manrope', sans-serif;
}

button {
	background-color: $button-color;
	padding: .75em 3em;
	height: fit-content;
	font-size: .8em;
	border: none;
	border-radius: 2em;
	font-weight: 600;
	outline: none;
	cursor: pointer;

	> p {
		color: white;
		user-select: none;
	}
}

button.disabled, button:disabled {
	background-color: rgba($color: black, $alpha: 0.2);
	cursor: not-allowed;
}

.form-input {
	background-color: white;
	border: none;
	outline: none;
	padding: .5em;
	box-shadow: 0 .25em .5em rgba($color: black, $alpha: 0.2);
	border-radius: .3em;
	font-size: 1em;
	margin-bottom: .5em;
	transition: box-shadow .2s;
	width: 15em;
	
	&:focus {
		box-shadow: 0 .25em .5em rgba($color: black, $alpha: 0.4);
	}
}

#loading-container {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&.with-top-padding {
		padding-top: 10em;
	}
}

#loading-spinner {
	width: 10em;
	height: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#card-container {
	box-shadow: 0 0.25em 0.5em rgba($color: black, $alpha: 0.2);
	border-radius: 0.5em;
	padding: 1em;
	background-color: white;
	margin-bottom: 1em;
	max-width: 20em;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}