@import 'colors.scss';

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #F3F3F3;
}

p {
	font-family: 'Manrope', sans-serif;
}

button {
	background-color: $button-color;
	padding: .75em 3em;
	height: fit-content;
	font-size: .8em;
	border: none;
	border-radius: 2em;
	font-weight: 600;
	outline: none;
	cursor: pointer;

	> p {
		color: white;
		user-select: none;
	}
}

button.disabled {
	background-color: rgba($color: black, $alpha: 0.2);
	cursor: not-allowed;
}